.toast {
  font-size: 14px !important;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.toast-message {
  margin-left: 3px;
  margin-right: 5px;
}

.toast-close {
  position: absolute;
  visibility: hidden;
  font-size: 11px !important;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 16px;
  cursor: pointer;
  justify-self: right;
  margin: 0;
}

.toast:hover .toast-close {
  visibility: visible;
}

.toast-close:focus {
  outline: none;
}
